.additional_service-page__main-row {
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
}
.additional_service-page__title {
  text-align: center;
}
.additional_services-page__main-wrap-additional-services {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #07773E;
}
