.candy-bars-page__main-row {
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: #07773E;
  margin-top: 3%;
}
.candy-bars__boy-or-girl {
  display: inherit;
  @media (max-width:650px) {
    width: 50%;
  }
}
