.contacts-page-row {
  margin: 0;
  text-align: center;
  color: #07773E;
}
.contacts-page__main-title {
  margin-top: 5%;
}
.contacts-page__first-part {
  margin-top: 5%;
}
.contacts-page__second-part {
  margin-top: 2%;
}
.contacts-page__third-part {
  margin-top: 2%;
}
h3 {
  margin: 0;
}
