.search-page__title {
  text-align: center;
}
.fa.fa-search {
  color: black;
}
ul.search-page__list-results {
  width: 80%;
  margin: 0 auto;
  li {
    margin-top: 5%;
  }
}
.no-results {
  text-align: center;
}
